#Definição da ciphersuite, chaves e parâmetros para parametrizações de segurança# de grupos multicast protegidos pelo protocolo	STGC
<224.10.10.10>

CIPHERSUITE: <alg/mode/padding>	
#ex.,AES/CBC/PKCS#5
	
KEYSIZE: <valor>
# n.de	bits da	chave, ex: 256
	
KEYVALUE: <valor>
#chave,	representada em	hexadecimal
	
MAC: <mac-alg>
MACKEYSIZE:  <valor>
MACKEYVALUE:  <valor>

</224.10.10.10>
